@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .icon__wrapper {
    @apply border border-gray-400 rounded-full w-[50px] h-[50px] grid place-items-center text-[22px];
  }
}

@media (max-width: 1536px) {
  .container {
    width: 1366px;
  }
}

@media (max-width: 1366px) {
  .container {
    width: 1280px;
  }
}

@media (max-width: 1280px) {
  .container {
    width: 1024px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 1024px) {
  .container {
    width: 768px;
  }
}

@media (max-width: 768px) {
  .container {
    width: 640px;
  }
}

@media (max-width: 640px) {
  .container {
    width: 475px;
  }
}

@media (max-width: 475px) {
  .container {
    width: 360px;
  }
}
